body{
    font-family:Arial;
}
*{
    box-sizing: border-box;
}
table{
    width:100%;
}
.img{
    width:100%;
}
span{
    width:40px;
    background-color: #eee;
}
tr{
    margin-top: 100px;
}
td{

    padding:10px; 

}
td div{
    width: 100%;
}
h3{
    margin: 10px;
}
td div span {
    width: 40%;

}